<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Document</title>
</head>

<body>
    <div th:fragment="courses" th:unless="${#lists.isEmpty(courses)}">
        <table class="courses">
            <thead>
                <tr>
                    <th>Sigle</th>
                    <th>Titre</th>
                    <th>ECTS</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.id}"></td>
                    <td>
                        <a th:href="@{/course(id=${course.id})}" th:text="${course.title}"></a>
                    </td>
                    <td th:text="${course.credits}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${#lists.isEmpty(courses)}">(Aucun cours)</div>

    <div th:fragment="students" th:unless="${#lists.isEmpty(students)}">
        <table class="students">
            <thead>
                <tr>
                    <th>Matricule</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Genre</th>
                    <th>Section</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td>
                        <a th:href="@{/student(id=${student.id})}" th:text="${student.id}"></a>
                    </td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.gender}"></td>
                    <td th:text="${student.section}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(students)}">(Aucun étudiant)</div>

</body>

</html>