<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Liste des cours</title>
</head>

<body>
    <main layout:fragment="content">
        <h2>Liste des cours</h2>
        <div th:replace="~{fragment/table.html::courses}"></div>

            <h2>Ajouter un cours</h2>
            
            <form th:action="@{/courses/add}" th:object="${course}" method="post">

                <label th:for="id">Sigle</label>
                <input type="text" id="id" th:field="*{id}" th:errorclass="errorField"/>
                <span th:errors="*{id}" class="errorMsg"></span></br>

                <label th:for="title">Titre</label>
                <input type="text" id="title" th:field="*{title}" th:errorclass="errorField"/>
                <span th:errors="*{title}" class="errorMsg"></span></br>

                <label th:for="credits">ECTS</label>
                <input type="text" id="credits" th:field="*{credits}" th:errorclass="errorField"/>
                <span th:errors="*{credits}" class="errorMsg"></span></br>

                <button type="submit">Ajouter</button>
            </form>
    </main>
</body>
</html>